{% extends "base.twig" %}

{% block content %}
    <section class="swiper storySwiper">
      <div class="swiper-wrapper">
        {% for story in third_stories %}
            {% set numberOfWords = story.content|split(' ')|length %}

            <div class="swiper-slide">
                <div class="relative min-w-full min-h-screen flex flex-col justify-center py-10 md:py-0 bg-{{ story.category | lower | replace({ ' ': '-', '&amp;' : 'and' }) }}">
                    <div class="arbc-container justify-center h-20">
                        <div class="absolute top-40 category-icon icon-{{ story.category | lower | replace({ ' ': '-', '&amp;' : 'and' }) }}" role="presentation"></div>
                    </div>
                    <h2 class="pt-12 md:pt-0 rotate-category-stories">{{ story.category }}</h2>
                    <div class="snap-start arbc-container justify-center relative h-full">
                        <div class="pl-10 md:pl-0 flex flex-col text-left">
                            <blockquote class="max-w-4xl 3xl:max-w-6xl {{ numberOfWords <= 75 ? 'short-story' : 'text-xl md:text-3xl 3xl:text-4xl' }}">
                                {{ story.content }}
                            </blockquote>
                            <div class="md:text-right 3xl:text-xl">
                                <figcaption class="pt-12"><strong>{{ story.display_name }}</strong></figcaption>
                                {% if story.home_campus != "do_not_attend" or story.home_campus !='attend_virtually' %}
                                    <span>{{ story.home_campus | upper | replace({ '_' : ' ' }) }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </section>
{% endblock %}
