<header class="w-full z-10 pt-8" id="header">
    <section>
        <div class="container mx-auto flex justify-between">
            <a href="{{ site.url }}"><img class="h-8 w-auto" src="{{ site.theme.link }}/assets/images/logos/logo.svg" alt="Austin Ridge Bible Church logo"></a>
            <h1 class="text-3xl lowercase">{{ site.name }}</h1>
            <form class="bg-transparent relative">
                <ul>
                <li id="category-filter">FILTER BY CATEGORY</li>
                <span class="hidden">
                {% for category in categories %}
                    <li data-category="{{ category.slug }}"><div class="h-[13px] w-[13px] inline-block bg-no-repeat bg-contain bg-center icon-{{ category.slug | replace({ ' ': '-', '&amp;' : 'and' }) }}" role="presentation"></div> {{ category.name }}</li>
                {% endfor %}
                </span>
                </ul>
            </form>
        </div>
    </section>
</header>
