<header class="w-full z-10 py-4 md:pt-8 md:absolute bg-black md:bg-transparent">
    <section>
        <div class="arbc-container justify-between items-center md:items-top" id="navbar">
            <a href="{{ site.url }}"><img class="md:hidden h-8 w-auto" src="{{ site.theme.link }}/assets/images/logos/logo-white.svg" alt="Austin Ridge Bible Church logo"><img class="hidden md:block h-8 w-auto" src="{{ site.theme.link }}/assets/images/logos/logo.svg" alt="Austin Ridge Bible Church logo"></a>
            <h1 class="text-3xl lowercase text-center"><a class="text-white md:text-black" href="{{ site.url }}/stories">{{ site.name }}</a></h1>
            <form class="hidden md:block bg-transparent relative">
                <ul>
                <li class="flex items-center" data-menu-btn>FILTER BY CATEGORY  <svg class="pl-2" xmlns="http://www.w3.org/2000/svg" width="22" height="12" fill="none" viewBox="0 0 22 12"><path stroke="#989896" d="m1 1 10 10L21 1"/></svg></li>
                <span data-category-menu>
                {% for category in categories %}
                    <li data-category="{{ category.slug }}"><a class="text-black" href="{{ site.url }}/category/{{ category.slug }}"><div class="h-[13px] w-[13px] inline-block bg-no-repeat bg-contain bg-center icon-{{ category.slug | replace({ ' ': '-', '&amp;' : 'and' }) }}" role="presentation"></div> {{ category.name }}</a></li>
                {% endfor %}
                </span>
                </ul>
            </form>
            <div class="block w-7 md:hidden" data-mobile-menu-open><svg class="w-full block" fill="#ffffff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"/ data-menu-btn></svg></div>
        </div>
        <div class="arbc-container flex justify-between text-white text-center" style="display: none;" data-mobile-nav>
            <div class="w-[10%]"></div>
            <div>
                <svg class="mx-auto mb-2" width="30" height="17" viewBox="0 0 30 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_17_2001)">
                    <path d="M30 7.99353C27.7887 8.38786 25.5338 10.048 23.2353 12.9739L23.1373 13.1014C22.1503 14.3454 21.3791 15.1515 20.8236 15.5197C20.292 15.8791 19.6646 16.0704 19.0229 16.0687C18.2081 16.1165 17.4049 15.8577 16.7713 15.3432C16.2288 14.8595 15.7342 13.9478 15.2876 12.6079C15.2821 12.5788 15.271 12.5511 15.2549 12.5262C14.6405 10.6874 13.8911 9.76694 13.0066 9.76476C12.4118 9.76476 11.9118 10.0839 11.5066 10.7223L11.3791 10.9314C11.0033 11.5904 10.4324 12.1167 9.74512 12.438C9.1155 12.7103 8.05449 12.8465 6.56211 12.8465H5.84643C3.53489 12.8465 1.98368 12.5033 1.19283 11.8171C0.401983 11.1308 0.00547455 9.86716 0.0032959 8.0262C0.0032959 6.19613 0.403072 4.93797 1.20264 4.25169C2.0022 3.56542 3.54905 3.22446 5.84316 3.22882H6.55885C8.02617 3.22882 9.08499 3.36935 9.72552 3.64386C10.4169 3.96341 10.9939 4.48683 11.3791 5.14384C11.4028 5.19309 11.4289 5.24108 11.4575 5.28764C11.603 5.5922 11.8312 5.84967 12.1161 6.03057C12.4011 6.21147 12.7312 6.30847 13.0686 6.31051C13.9118 6.31051 14.6405 5.39003 15.2549 3.54907L15.2876 3.47064C15.7364 2.13077 16.231 1.21792 16.7713 0.73208C17.4049 0.21755 18.2081 -0.0412414 19.0229 0.00659896C19.6247 0.00662339 20.214 0.17777 20.7222 0.500066C21.4389 1.00954 22.0755 1.62303 22.6111 2.32031C22.866 2.62968 23.2179 3.06541 23.6667 3.6275C24.2238 4.37057 24.8309 5.07482 25.4837 5.73535C26.1281 6.33511 26.8529 6.84218 27.6373 7.2419C28.3831 7.60863 29.1794 7.86197 30 7.99353V7.99353ZM27.9739 8.07523C27.7081 7.91401 26.9608 7.77566 25.732 7.66019C24.5033 7.54472 23.0806 7.48372 21.4641 7.47718H20.9673C20.8431 6.95343 20.5788 6.47333 20.2026 6.08829C19.8768 5.77632 19.4413 5.60494 18.9902 5.61116C18.7024 5.60087 18.4159 5.6541 18.151 5.76706C17.8861 5.88002 17.6493 6.04995 17.4575 6.26476C17.0555 6.74831 16.8501 7.36549 16.8824 7.99353C16.8572 8.63628 17.0676 9.26611 17.4739 9.76476C17.66 9.98534 17.8938 10.1608 18.1576 10.278C18.4214 10.3952 18.7083 10.451 18.9968 10.4412C19.4397 10.4467 19.867 10.2777 20.1863 9.97065C20.5649 9.58134 20.8363 9.10058 20.9739 8.57522H21.4706C23.2026 8.57522 24.6602 8.5262 25.8334 8.43143C27.0066 8.33665 27.719 8.22229 27.9739 8.07523Z" fill="#FBFAF3"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_17_2001">
                    <rect width="30" height="16.0686" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                <h2 class="text-yellow text-2xl pb-2">Share your Story</h2>
                <h3 class="text-yellow text-xl pb-2">Sort by Category</h3>
                {% for category in categories %}
                    <a class="text-white" href="{{ site.url }}/category/{{ category.slug }}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <div>
                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg" data-mobile-menu-close><path d="M1.01465 17.2782L17.2781 1.01477M1.72174 1.01477L17.9852 17.2782" stroke="#FBFAF3" stroke-width="2"/></svg>
            </div>
        </div>
    </section>
</header>
