<header class="w-full z-10 pt-8 absolute">
    <section>
        <div class="container mx-auto flex justify-between" id="navbar">
            <a href="{{ site.url }}"><img class="h-8 w-auto" src="{{ site.theme.link }}/assets/images/logos/logo.svg" alt="Austin Ridge Bible Church logo"></a>
            <h1 class="text-3xl lowercase text-center"><a class="text-black" href="{{ site.url }}/stories">{{ site.name }}</a></h1>
            <form class="bg-transparent relative">
                <ul>
                <li id="category-filter" class="flex items-center">FILTER BY CATEGORY  <svg class="pl-2" xmlns="http://www.w3.org/2000/svg" width="22" height="12" fill="none" viewBox="0 0 22 12"><path stroke="#989896" d="m1 1 10 10L21 1"/></svg></li>
                <span class="hidden">
                {% for category in categories %}
                    <li data-category="{{ category.slug }}"><a class="text-black" href="{{ site.url }}/category/{{ category.slug }}"><div class="h-[13px] w-[13px] inline-block bg-no-repeat bg-contain bg-center icon-{{ category.slug | replace({ ' ': '-', '&amp;' : 'and' }) }}" role="presentation"></div> {{ category.name }}</a></li>
                {% endfor %}
                </span>
                </ul>
            </form>
        </div>
    </section>
</header>
