{% extends "base.twig" %}

{% block content %}



     {% for product in products %}

        {% set numberOfWords = product.content|split(' ')|length %}

        <section class="relative snap-y snap-mandatory min-h-screen flex flex-col justify-center py-10 md:py-0 bg-{{ product.category | lower | replace({ ' ': '-', '&amp;' : 'and' }) }}">
            <h2 class="pt-12 md:pt-0 rotate-category">{{ product.category }}</h2>
            <div class="arbc-container justify-center relative">
                <div class="category-icon icon-{{ product.category | lower | replace({ ' ': '-', '&amp;' : 'and' }) }}" role="presentation"></div>
            </div>
            <div class="snap-start arbc-container justify-center relative h-full">
                <div class="pl-10 md:pl-0 flex flex-col">
                    <blockquote class="max-w-4xl {{ numberOfWords <= 75 ? 'short-story' : 'text-xl md:text-3xl' }}">
                        {{ product.content }}
                    </blockquote>
                    <div class="md:text-right">
                        <figcaption class="pt-12"><strong>{{ product.display_name }}</strong></figcaption>
                        {% if product.home_campus != "do_not_attend" %}
                            <span>{{ product.home_campus | upper | replace({ '_' : ' ' }) }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}


{% endblock %}
