{% extends "base.twig" %}

{% block content %}

{% for story in story_category %}

     {% for product in story.products|slice(0,1) %}

        {% set numberOfWords = product.content|split(' ')|length %}

        <section class="snap-y snap-mandatory min-h-screen flex flex-col justify-center bg-{{ product.category | lower | replace({ ' ': '-', '&amp;' : 'and' }) }}">
            <div class="arbc-container justify-center relative">
                <div class="category-icon icon-{{ product.category | lower | replace({ ' ': '-', '&amp;' : 'and' }) }}" role="presentation"></div>
                <h2 class="rotate-category">{{ product.category }}</h2>
            </div>
            <div class="snap-start arbc-container justify-center relative h-full">
                <div class="flex flex-col">
                    <blockquote class="max-w-4xl {{ numberOfWords <= 75 ? 'short-story' : 'text-3xl' }}">
                        {{ product.content }}
                    </blockquote>
                    <div class="text-right">
                        <figcaption class="pt-12"><strong>{{ product.display_name }}</strong></figcaption>
                        {% if product.home_campus != "do_not_attend" %}
                            <span>{{ product.home_campus | upper | replace({ '_' : ' ' }) }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

{% endfor %}

{% endblock %}
